.container
    max-width: 1280px
    margin: 0 auto 0px
    padding-top: 158px
    .h1
        margin-bottom: 10px
.breadcrumbs
    text-align: center
    margin-bottom: 20px
    &__nav
        display: inline-block
        +clr
        li
            position: relative
            float: left
            margin-right: 10px
            padding-left: 12px
            &:before
                content: ">"
                position: absolute
                top: 0px
                left: 0px
                color: #b49e10
            &:first-child
                padding-left: 0
                &:before
                    display: none
            a
                font-size: 11px
                color: #b49e10
                text-decoration: none
                &:hover
                    text-decoration: underline
.wpapper
    position: relative
    margin-bottom: 110px
    &:before
        content: ""
        position: absolute
        top: 3px
        left: -3px
        bottom: -3px
        width: 6px
        background: rgba(#000, .2)
        z-index: 1 
    &__inner
        +clr
        position: relative
        padding: 50px 37px
        background: #fff
        +box-shadow(3px 3px 0 0 rgba(#000, .2))
        z-index: 2

//menu
.menu
    float: left
    width: 248px
    padding-right: 10px
    &__item
        margin-bottom: 10px
    &__link
        display: inline-block
        padding: 0 10px
        height: 30px
        line-height: 30px
        text-transform: uppercase
        +pfd_m
        font-size: 18px
        color: #000
        &:hover
            text-decoration: none
        &.is-active
            background: #ffdd00
            text-decoration: none
.submenu
    padding-left: 20px
    &__item
        padding: 9px 0 
    &__link
        font-weight: bold
        color: #000
        &:hover
            text-decoration: none
        &.is-active
            color: #6f6f6f
            text-decoration: none                

.content
    overflow: hidden
    padding-bottom: 50px
.chronology
    +clr
    margin-bottom: 50px
    +agora_b
    font-size: 16px
    color: #201e10
    p
        line-height: 1.8
    &__year
        float: left
        margin-right: 18px
        font-size: 44px

// columns for text
.cols
    +clr
    p
        margin-bottom: 20px
    .content_contacts &
        margin-top: 40px
.col40
    float: left
    width: 40%
    margin-left: 20%
    &:first-child
        margin-left: 0
.col50
    float: left
    width: 50%        
        
.quote
    position: relative
    margin: 50px 0
    padding: 27px 67px 
    border: 3px solid #ffdd00                   
    +agora_it
    p
        position: relative
        &:before
            content: "—"
            position: absolute
            top: 0px
            left: -30px
.list
    li
        position: relative
        padding-left: 54px
        margin-bottom: 25px
        &:before
            content: ""
            position: absolute 
            top: 7px
            left: 0px
            width: 25px
            height: 5px
            background: #ffdd00
    &.list_cols
        +clr
        padding-top: 20px
        li
            float: left
            width: 50%
            padding-left: 55px
            +box
            p
                width: 80%        
.list-numb
    counter-reset: li
    li
        position: relative
        padding-left: 54px
        margin-bottom: 25px
        &:before
            content: counter(li)
            counter-increment: li
            position: absolute
            top: 0px
            left: 0px
            +agora_b
            font-size: 18px
            color: #201e10
    &.list-numb_cols
        +clr
        padding-top: 20px
        li
            float: left
            width: 50%
            margin-bottom: 20px
            padding-left: 30px
            +box
            p
                width: 80%       
            
// news
.news
    &__list
        padding-top: 50px
        padding-right: 6px
        +justify
    &__item
        +justify-child
        width: 44%
        margin-bottom: 50px
    &__img
        display: block
        overflow: hidden
        height: 200px
        margin-bottom: 20px
        font-size: 0
        +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
        img
            min-width: 100%
            height: 100%
    &__link
        position: relative
        padding-top: 20px
        margin-bottom: 10px 
        display: inline-block
        text-align: left
        color: #201e10
        &:hover
            text-decoration: none
        &:before
            content: ""
            position: absolute
            top: 0px
            left: 0px
            width: 65px
            height: 5px
            background: #ffdd00
    &__nav
        a
            position: relative
            display: inline-block
            text-transform: uppercase
            font-size: 18px
            +pfd_m
            color: #000
            &:hover
                text-decoration: none
    &__prev
        padding-left: 22px
        margin-right: 29px
        &:before
            content: ""
            position: absolute
            top: 1px
            left: 0px
            +s(arr-left)
        &.is-disabled
            color: #b7b7b7
            text-decoration: none
            cursor: default
            &:before
                +s(arr-left-grey)    
    &__next
        &:before
            content: ""
            position: absolute
            top: 1px
            right: -20px
            +s(arr-right)

//article
.article
    +clr
    margin-bottom: 50px
    p
        margin-bottom: 20px
    img
        width: 33%
        float: left
        margin-right: 5%
        margin-bottom: 40px
        +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
    &__lid
        font-weight: bold
        font-size: 16px
        margin-bottom: 30px
.adress
    position: relative
    padding-left: 33px
    font: 14px Tahoma, sans-serif
    p
        margin-bottom: 10px
    &:before
        content: ""
        position: absolute
        top: 0px
        left: 0px
        +s(marker)
.contacts
    position: relative
    padding-left: 33px
    margin-bottom: 22px
    &:before
        content: ""
        position: absolute
        top: 0px
        left: 0px
        +s(phone)
    p
        margin-bottom: 0 
.email
    display: inline-block
    position: relative
    padding-left: 33px
    color: #000
    &:hover
        text-decoration: none
    &:before
        content: ""
        position: absolute
        top: 5px
        left: 0px
        +s(email)
.map
    margin-right: 6px
    margin-top: 50px
    height: 333px
    +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
    
// projects

.projects
    margin-right: 6px
    &__list
        +justify
        margin-bottom: -50px
    &__item
        +justify-child
        width: 44%
        margin-bottom: 50px         
    &__img
        display: block
        position: relative
        overflow: hidden
        height: 200px
        margin-bottom: 20px
        font-size: 0
        +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
        img
            min-width: 100%
            height: 100%
            +transform(scaleY(1))
            +transition(all 0.5s ease-in-out)
        &:hover
            img
                +transform(scale(10))
                +opacity(0)
            .projects__mask
                +opacity(1)
                .btn
                    +transform(scale(1))
                    +opacity(1)     
    &__mask
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        text-align: center
        background: #fce130 url(../img/pict5.jpg)
        +cover
        +opacity(0)
        +transition(all 0.4s linear)
        +font-smoothing()
        +gpu
        &:before
            content: ""
            display: inline-block
            width: 0
            height: 100%
            vertical-align: middle
        .btn
            vertical-align: middle
            +transform(scale(0))
            +transition(all 0.3s linear)
            +opacity(0)          
    &__link
        display: inline-block
        color: #201e10
        font-weight: bold
        font-size: 16px
        margin-bottom: 10px
        &:hover
            text-decoration: none
            
// cases
.cases
    &__item
        +clr
        width: 768px
        margin-right: 6px
        margin-bottom: 41px
        background: #ffdd00
        +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
    &__img
        float: left
        width: 504px
        height: 197px
        background: #fff 
        img
            width: 100%
            height: 100%
            +transition(opacity 150ms linear)
            &.is-hover
                +opacity(0.7)
    &__info
        overflow: hidden
        padding: 20px 28px
        p
            margin-bottom: 20px 
    &__link
        display: inline-block
        margin-bottom: 5px
        font-size: 18px
        font-weight: bold    
        color: #201e10 
        
// gallery
.gallery
    &__list
        width: 713px
        +justify
    &__item
        +justify-child
        margin-bottom: 50px
    &__link
        display: block
        width: 332px
        height: 176px
        font-size: 0
        overflow: hidden
        background: #ffdd00 
        +box-shadow(3px 3px 0 0 #fff, 6px 6px 0 0 #e3e3e3)
        img
            width: 100%
            min-height: 100%
            height: auto
            +transition(opacity 150ms linear)
        &:hover
            img
                +opacity(.3)       
                                       



                     
    
                                           
        



                             

