.preloader
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #fff
    text-align: center
    &:after
        content: ""
        display: inline-block
        width: 0
        height: 100%
        vertical-align: middle
    &__counter
        position: relative
        display: inline-block
        vertical-align: middle
        z-index: 2
        font-size: 50px
        color: #000
        +agora_ub
    &__progress
        position: absolute
        top: 0
        bottom: 0
        background: #ffdd00
        z-index: 1

