.preloader
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #fff
    text-align: center
    &:before
        content: ""
        display: inline-block
        width: 0
        height: 100%
        vertical-align: middle
    p
        display: inline-block
        vertical-align: middle     
