.preloader
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #fff
    text-align: center
    &:after
        content: ""
        display: inline-block
        width: 0
        height: 100%
        vertical-align: middle
    &__intro
        position: relative
        display: inline-block
        vertical-align: middle
        z-index: 2
    &__counter
        position: relative
        font-size: 50px
        color: #000
        +agora_ub
        z-index: 2
    &__text
        width: 580px
        +agora_it
        font-size: 20px
        color: #201e10
        +opacity(0)
        +transition(all 400ms linear)     
    &__progress
        position: absolute
        top: 0
        bottom: 0
        background: #ffdd00
        z-index: 1

